
body{
    background-color: rgb(255, 166, 32) Coloque a cor de preferência no fundo da pág web;
    color: rgba(0, 0, 0, 0.89) cor da letra do corpo da página
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 200px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 20px;
}

